*.c++ linguist-detectable=true
*.roff linguist-detectable=false
*.1 linguist-detectable=false
*.lin linguist-detectable=false
*.1m linguist-detectable=false
*.1x linguist-detectable=false
*.2 linguist-detectable=false
*.3 linguist-detectable=false
*.3in linguist-detectable=false
*.3m linguist-detectable=false
*.3p linguist-detectable=false
*.3pm linguist-detectable=false
*.3qt linguist-detectable=false
*.3x linguist-detectable=false
*.4 linguist-detectable=false
*.5 linguist-detectable=false
*.6 linguist-detectable=false
*.7 linguist-detectable=false
*.8 linguist-detectable=false
*.9 linguist-detectable=false
*.1 linguist-detectable=false
*.man linguist-detectable=false
*.mdoc linguist-detectable=false
*.me linguist-detectable=false
*.ms linguist-detectable=false
*.n linguist-detectable=false
*.nr linguist-detectable=false
*.rno linguist-detectable=false
*.tmac linguist-detectable=false
